
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav{
    margin: 50px;
    position: relative;
    z-index: 1;
    .logo{
        display: flex;
        flex: 1;
        height: 70px;
        width: 70px;
    }
    .menu{
        img{
            width: 40px;
            height: 35px;
        }
    }
    .line{
        .central_line{
            border-bottom: 1px solid white;
            height: 0;
            width: 700px;
            margin-right: -30px;
            margin-top: -9px;
        }
        z-index: 1;
    }
    ul{
        display: flex;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.11);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.1px);
        -webkit-backdrop-filter: blur(2.1px);
        li{
            list-style: none;
            padding: 30px;
            margin-left: 10px;
            margin-right: 10px;
            a{
                text-decoration: none;
                color: white;
                font-size: 1em;
                // font-family: 'Barlow Condensed', sans-serif;
                // font-family: 'EB Garamond', serif;
                font-family: 'Rubik', sans-serif;
                span{
                    font-weight: 500;
                }
            }
            
        }
    }
    .close{
        img{
            height: 40px;
            width: 40px;
        }
    }
}