
.main_t{
    background-image: url(/static/images/technology/background-technology-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
.content{
    .first_row{
        .text{
            margin-top: 200px;
            color: rgb(242, 244, 248);
            h3{
                margin-top: 10px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 2px;
                span{
                    color: rgb(115, 114, 114);
                    font-weight: 500;
                }
            }
            .second_row{
                margin-top: 100px;
                .anchor{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: white;
                        height: 80px;
                        width: 80px;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 10px;
                        span{
                            font-size: 2em;
                        }
                    }
                }
                .para_main{
                    margin-top: 10px;
                    .para{
                        text-transform: uppercase;
                        font-size: 0.9em;
                        color: rgb(184, 185, 204);
                        letter-spacing: 2px;
                    }
                    h1{
                        text-transform: uppercase;
                        font-size: 3.7em;
                        font-weight: 300;
                        font-family: 'Times New Roman', Times, serif;
                    }
                    p{
                        font-size: 1em;
                        color: rgb(184, 185, 204);
                        margin-right: 120px;
                    }
                }
            }
        }
        .image_box{
            img{
                margin-top: 250px;
            }
        }
    }
}
}

@media only screen and (max-width: 600px) and (min-width:280px) {
    .main_t{
        background-image: url(/static/images/technology/background-technology-mobile.jpg);
        height: auto;
        .menu{
            position: absolute;
            right: 0;
            margin: 30px;
            img{
                height: 35px;
                width: 35x;
            }
        }
        .menu_list{
            position: absolute;
            top: 0px;
            right: 0;
            background-color: rgb(35, 39, 63);
            height: 70%;
            width: 70%;
            ul{
                padding-top: 100px;
                li{
                    list-style: none;
                    padding: 10px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 1.3em;
                    }
                }
            }
            .close{
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .content{
            .first_row{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .text{
                    text-align: center;
                    margin-top: 50px;
                    .second_row{
                        text-align: center;
                        margin-top: 50px;
                        .anchor{
                            display: flex;
                            flex-direction: row;
                        }
                        .para_main{
                            text-align: center;
                            .para{
                                margin-bottom: 0px;
                                margin-right: 0px;
                                font-size: 1.3em;
                                padding: 20px;
                            }
                            h1{
                                font-size: 2.5em;
                            }
                            p{
                                margin-right: 0px;
                                font-size: 1.2em;
                                padding: 10px;
                                text-align: center;
                            }
                        }
                    }
                }
                .image_box{
                    img{
                        margin-top: 150px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) and (min-width:650px) {
    .main_t{
        background-image: url(/static/images/technology/background-technology-tablet.jpg);
        height: auto;
        .content{
            .first_row{
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .text{
                    margin-top: 0px;
                    text-align: center;
                    h3{
                        margin-top: 50px;
                        font-weight: 400;
                        font-size: 3em;
                    }
                    .second_row{
                        margin-top: 50px;
                        display: flex;
                        flex-direction: column;
                        .anchor{
                            display: flex;
                            flex-direction: row;
                            width: 700px;
                            a{
                                height: 100px;
                                width: 100px;
                                font-size: 2em;
                                margin:10px;
                            }
                        }
                        .para_main{
                            margin-left: 0px;
                            .para{
                                margin-top: 0px;
                                font-size: 1.5em;
                                font-weight: 800;
                            }
                            h1{
                                text-align: center;
                            }
                            p{
                                text-align: center;
                                font-size: 1.8em;
                                margin-right: 0px;
                            }
                        }
                    }
                }
                .image_box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        margin-top: 200px;
                        height: 600px;
                        width: 700px;
                    }
                }
            }

        }
    }
}