
<nav class="navbar navbar-expand-lg">
    <div class="logo">
        <img src="/static/images/shared/logo.svg" alt="">
    </div>
    <div class="menu" id="menu">
        <img src="/static/images/shared/icon-hamburger.svg">
    </div>
    <div class="line">
        <div class="central_line">
        </div>
    </div>
    <ul>
        <li><a class="nav_option" href="/"><span>00</span> Home</a></li>
        <li><a class="nav_option" href="/destination_moon" ><span>01</span> Destination</a></li>
        <li><a class="nav_option" href="/crew"><span>02</span> Crew</a></li>
        <li><a class="nav_option" href="/technology"><span>03</span> Technology</a></li>
    </ul>
    <div class="close" id="close">
        <img src="/static/images/shared/icon-close.svg" alt="">
    </div>
</nav>